html, body {
  margin: 0;
  padding: 0;
}

/* Reset básico */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Layout */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex { 
  display: flex; 
}

.gap-xs {
  gap: 8px;
}

.gap-sm { 
  gap: 10px; 
}

.gap-md { 
  gap: 20px; 
}

.gap-lg { 
  gap: 30px;
}

.w-full { 
  width: 100%; 
}

.w-98 { 
  width: 98%; 
}

.w-72 { 
  width: 72%; 
}

.w-271 { 
  width: 271px; 
}

.w-285 { 
  width: 285px; 
}

/* Tipografia */

.font-system {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.text-center {
  text-align: center;
}

.text-big {
  font-size: 24px;
  font-weight: 500;
}

.text-red {
  color: red;
}

/* Inputs e forms */
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.label {
  margin-bottom: 4px;
  font-weight: 500;
}

/* Feedback */
.alert {
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.alert-error {
  background: #ffe6e6;
  color: #b00020;
}

.alert-success {
  background: #e6ffed;
  color: #056b3b;
}

/* Botões */
.button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.button-primary {
  background-color: #0070f3;
  color: white;
}

.button-primary:hover {
  background-color: #0059c1;
}

.button-danger {
  background-color: #e53935;
  color: white;
}

.button-danger:hover {
  background-color: #c62828;
}

/* Cards */
.card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* Espaçamentos */
.mt-0 { 
  margin-top: 0; 
}

.mt-xs {
  margin-top: 5px;
}

.mt-sm { 
  margin-top: 10px; 
}

.mt-md { 
  margin-top: 20px; 
}

.mt-lg { 
  margin-top: 24px; 
}

.mt-xl { 
  margin-top: 28px; 
}

.mt-xxl { 
  margin-top: 36px; 
}

.mb-0 { 
  margin-bottom: 0; 
}

.mb-xs {
  margin-bottom: 5px;
}

.mb-sm { 
  margin-bottom: 10px; 
}

.mb-md { 
  margin-bottom: 12px; 
}

.mb-lg { 
  margin-bottom: 14px; 
}

.mb-xl { 
  margin-bottom: 16px; 
}

.ml-lg { 
  margin-left: 28px; 
}

.p-sm { 
  padding: 8px; 
}

.p-md { 
  padding: 20px; 
}


/* border right */
.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.pr {
  padding-right: 15px;
}

.mr {
  margin-right: 12px;
}

.line-40 {
  line-height: 40px;
}

/* Dashboard métricas */
.metric {
  text-align: center;
}

.metric-value {
  text-align: center;
  font-size: 24px;
  font-weight: 350;
}

/* Lista */
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Links */
.link {
  color: #0070f3;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
